version: '3.7'

services:
  web:
    build: .
    container_name: qdrant_demo_web
    ports:
      - 8000:8000
    depends_on:
      - qdrant

  qdrant:
    container_name: qdrant_demo_qdrant
    image: qdrant/qdrant:v1.7.3
    ports:
      - 6333:6333
      - 6334:6334
    volumes:
      - ./data/qdrant_storage:/qdrant/storage
